<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div id="abc">
    
    <br>
    <br>
    <br><br>
      <div ><h1 class="head" >START HERE</h1></div>
  </div>
  <div class="main">
  <br>
  
  <div class="details">
    
          <h1>Welcome to our travel photography blog.</h1><br><br>

       


<div style="margin-right: 20px;text-align: center;">
          <div class="container-fluid pb-video-container">
            <div class="col-md-10 offset-md-1">
                <h3 class="text-xs-center">Travel Video Gallery</h3>
                <div class="row pb-row">
                    <div class="col-md-3 pb-video">
                      
                      <iframe width="100%" height="230" class="pb-video-frame" frameborder="0" allowfullscreen
src="https://media.istockphoto.com/videos/the-couple-with-camping-backpacks-walking-to-the-mountain-top-slow-video-id1151597371">
</iframe>


                        <label class="form-control label-warning text-xs-center">Travel India</label>
                    </div>
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame" width="100%" height="230" src="https://media.istockphoto.com/videos/aerial-of-landscape-with-monasteries-and-rock-formations-in-meteora-video-id1165256912" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center">Aerial of Landscape</label>
                    </div>
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame " width="100%" height="230" src="https://media.istockphoto.com/videos/two-snowboarders-riding-towards-the-setting-sun-video-id1139869862" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center">Snowboarders</label>
                    </div>
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame" width="100%" height="230" src="https://media.istockphoto.com/videos/underwater-tropical-fish-and-coral-garden-video-id1308022680" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center">Underwater Tropical Fish and Coral Garden.</label>
                    </div>
                </div>
                <div class="row pb-row">
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame" width="100%" height="230" src="https://media.istockphoto.com/videos/movement-along-beautiful-red-walls-smooth-and-wave-in-antelope-canyon-video-id1130635397" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center">RedWalls</label>
                    </div>
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame" width="100%" height="230" src="https://media.istockphoto.com/videos/trail-walkers-crossing-river-bridge-in-natural-old-growth-forest-video-id697180428" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center">River Bridge in Natural</label>
                    </div>
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame" width="100%" height="230" src="https://media.istockphoto.com/videos/road-trip-through-a-forest-video-id1170766384" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center">RoadTrip</label>
                    </div>
                    <div class="col-md-3 pb-video">
                        <iframe class="pb-video-frame" width="100%" height="230" src="https://media.istockphoto.com/videos/group-of-african-giraffes-at-sunset-video-id472670309" frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-xs-center"> African giraffes at sunset</label>
                    </div>
                </div>
            </div>
        </div>
        
      </div>




     
          
         
          <p>
          Photos have the incredible ability to transport you to
           a place,<br>tell a story and provide inspiration, simply by capturing one moment in time.</p>
          
           <p>
           Ever since the camera was invented in 1816, humans have been fascinated with the art of photography.
          </p>
  
          <p>
           Fast forward to today, and almost every single person on this planet has access to a camera,<br>whether that is a professional DSLR,
            a point-and-shoot,<br> or just their smartphone in their pocket.
            </p>
        
          <p>
            Storytelling through imagery is now part of our daily lives,<br>
             whether that’s through photojournalism, entertainment, food, family, or in our case, travel.</p>
  
          
          <p>
             Our own love of travel photography started more than a decade ago,
             when we first started <br>exploring the world and turning to books and magazines for inspiration on where to go next.</p>
  
           
          <p>
             As the years have passed by we shifted from being admirers of photography to becoming photographers ourselves.</p>
      
      <br>
  </div>




  
     <br>  
        <div class="center">
      <div class="pagination">
          <a routerLink="/home">&laquo;</a>
        
         <a class="active" routerLink="/home">1</a>
         <a routerLink="/about">2</a>
        <a routerLink="/destination">3</a>
      <a routerLink="/photo">4</a>
      <a routerLink="/contact">5</a>
      <a routerLink="/http">6</a>
      
      <a routerLink="/about">&raquo;</a>
  </div>
</div>
  <router-outlet></router-outlet>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
  </div>
  
  </body>
  
  </html>